body{
  background-color: #e3e3e3;
}
header{
  display: flex;
  padding: 30px;
  background-color: teal;
  color: white;
  align-items: center;
}
h1, h2, p{
  margin: 0;
}
div.contents{
  text-align: center;
  padding: 100px 0;
}
p{
  color: #999999;
}
nav a{
  color: white;
  margin: 0 5px;
}